In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import datetime
import time
import requests
from selenium import webdriver

In [2]:
executable_path = {'executable_path':"/Users/abby/.wdm/drivers/chromedriver/win32/87.0.4280.88/chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=True)

In [3]:
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
news_html = browser.html

In [4]:
soup = bs(news_html, "lxml")

In [5]:
news_title_scrape=soup.find_all(class_="content_title")[1].text
news_title_scrape

"\n\nMars Helicopter Attached to NASA's Perseverance Rover\n\n"

In [6]:
# news_titles=[]
# for x in news_title_scrape:
#     news_titles.append(x.text)
# news_titles[1]

In [15]:
news_par_scrape=soup.find_all('div',class_="article_teaser_body")

In [ ]:
# news_pars=[]
# for x in news_par_scrape:
#     news_pars.append(x.text)
# news_pars[1]

In [16]:
executable_path = {'executable_path':"/Users/abby/.wdm/drivers/chromedriver/win32/87.0.4280.88/chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=True)

In [17]:
featureimage_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(featureimage_url)
featureimage_html = browser.html

In [18]:
img_soup= bs(featureimage_html, "lxml")

In [19]:
url="https://www.jpl.nasa.gov/"
feature_image_scrape = img_soup.find_all(class_="button fancybox")
feature_image_scrape = [url + x["data-fancybox-href"] for x in feature_image_scrape]
feature_image_scrape

['https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA18291_ip.jpg']

In [20]:
facts_url = 'https://space-facts.com/mars/'
mars_facts = pd.read_html(facts_url)[0]
mars_facts.columns=["Description", "Value"]
mars_facts

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [21]:
mars_facts_html = mars_facts.to_html(header = True, index = False)
print(mars_facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [22]:
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hem_url)
hem_html = browser.html
more_soup = bs(hem_html, "lxml")

In [23]:
finding_info= more_soup.find(class_ = "result-list" )
hemispheres = finding_info.find_all("div", class_="item")

In [26]:
baseurl="https://astrogeology.usgs.gov"
mar_hem_dictionary_list=[]
for x in range(0,4):
    img_url =more_soup.find_all(class_= "thumb")
    img_url = [baseurl + y["src"] for y in img_url]
    title = more_soup.find_all("h3")
    title=[z.text for z in title]
    mar_hem_dictionary_list.append({"title":title[x],"img_url":img_url[x]})
mar_hem_dictionary_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]